{% extends 'flatpages/default.html' %}
{% block content %}
<style type="text/css">
   TABLE {
    width: 100%; /* Ширина таблицы */
    border: 1px solid #399; /* Граница вокруг таблицы */
    border-spacing: 7px 5px; /* Расстояние между границ */
   }
   TD {
    border: 2px solid DodgerBlue; /* Граница вокруг ячеек */
    padding: 5px; /* Поля в ячейках */
   }
  </style>
<table style="font:26px verdana">

    <tr>
        <td> {{"Автор комментария"}}</td>
        <td> {{"Текст"}}</td>
        <td> {{"Дата"}}</td>
        <td> {{"Статус"}}</td>
    </tr>
    {% for i in echo %}
    <tr>
        <td> {{ i.echo_author }}</td>
        <td> {{ i.echo_text }}</td>
        <td> {{ i.echo_date }}</td>
        <td> {%if i.echo_status == False %} <button> <a href="/">Принять</a> </button>
        {% else %}
            {{ i.echo_status }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

</div>
{% endblock content %}