{% extends 'flatpages/default.html' %}

{% block title %}
Ad
{% endblock title %}

{% block content %}

{% if one %}
<style type="text/css">
   TABLE {
    width: 100%; /* Ширина таблицы */
    border: 1px solid #399; /* Граница вокруг таблицы */
    border-spacing: 7px 5px; /* Расстояние между границ */
   }
   TD {
    border: 2px solid DodgerBlue; /* Граница вокруг ячеек */
    padding: 5px; /* Поля в ячейках */
   }
  </style>
<table style="font:26px verdana">

    <tr>
        <td> {{"Автор"}}</td>
        <td> {{"Заголовок"}}</td>
        <td> {{ "Дата" }}</td>
        <td> {{"Текст объявления"}}</td>
        <td> {{ "Изображение" }}</td>
        <td> {{ "Файл" }}</td>
        <td> {{"Категория"}}</td>
    </tr>
    <tr>
        <td> {{ one.author }}</td>
        <td> {{ one.ad_theme }}</td>
        <td> {{ one.date_of_create }}</td>
        <td>{{ one.text_of_ad }}</td>
        <td>{% if one.upload_image %} {{ one.upload_image }}<a href="{{ one.upload_image.url }}"style="font-size:20px">посмотреть</a> {% endif %}</td>
        <td> {{ one.upload_file }}</td>
        <td> {{ one.categoryAd }}</td>
    </tr>
</table>
    <p> Комментарии ({{ one.echo_ads.all.count }})</p>

{% for e in one.echo_ads.all %}
<li>
    Дата создания - {{ e.echo_date }} <br>
    Автор - {{ e.echo_author }} <br>
    Статус - {{ e.echo_status }} <br>
    {{ e.echo_text }}
</li>

{% endfor %}
    <hr>

    <p> Добавить комментарий </p>

    {% if messages %}
    <div class="alert alert-success">
        {% for m in messages %}
        {{m}}
        {% endfor %}
    </div>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Добавить" />
    </form>
{% endif %}
{% endblock content %}