{% extends 'flatpages/default.html' %}

{% block content %}

{% if request.user.username %}
<h2>Приветствую,   {{request.user.username}} !</h2>
<hr>
    <style type="text/css">
       TABLE {
        width: 100%; /* Ширина таблицы */
        border: 1px solid #399; /* Граница вокруг таблицы */
        border-spacing: 7px 5px; /* Расстояние между границ */
       }
       TD {
        border: 2px solid DodgerBlue; /* Граница вокруг ячеек */
        padding: 5px; /* Поля в ячейках */
       }
      </style>
    <table style="font:26px verdana">

        <tr>
            <td> {{"Автор"}}</td>
            <td> {{"Заголовок"}}</td>
            <td> {{ "Дата" }}</td>
            <td> {{"Текст объявления"}}</td>
            <td> {{ "Изображение" }}</td>
            <td> {{ "Файл" }}</td>
            <td> {{"Рейтинг"}}</td>
            <td> {{"Категория"}}</td>
            <td> {{"Удалить/Изменить/Отклики"}}</td>

        </tr>
        {% for i in priv %}
        <tr>
            <td>{{ i.author }} </td>
            <td> {{ i.ad_theme }}</td>
            <td> {{ i.date_of_create }}</td>
            <td> {{ i.text_of_ad }}</td>
            <td> {% if i.upload_image %} {{ i.upload_image }}<a href="{{ i.upload_image.url }}"style="font-size:20px">посмотреть</a> {% endif %}</td>
            <td> {{ i.upload_file }}</td>
            <td> {{ i.rating }}</td>
            <td> {{ i.categoryAd }}</td>
            <td><a href="/{{i.id}}/update" style="font-size:20px">Изменить</a> <a href="/{{i.id}}/delete" style="font-size:20px">Удалить</a>
            <a href="/{{i.id}}/echo" style="font-size:20px">Отклики</a></td>
        </tr>
        {% endfor %}
    </table>


<button> <a href="/sign/logout">Выйти</a> </button>
<button> <a href="/">На главную</a> </button>

{% else %}
<h2>Вы вошли как незагистрированный пользователь</h2>
<button> <a href="/accounts/signup/">Регистрация</a> </button>
<button> <a href="/">На главную</a> </button>
{% endif %}
{% endblock %}
